header
{
	font-family: 'Coiny', cursive;
	text-align: center;
	font-size: 27px;
}

main
{
	display: flex;
	justify-content: center;
	gap: 140px;
}

#etch
{
	width: 420px;
	height: 420px;
	border: 4px solid black;
}

.square
{
	box-shadow: 1px 1px black;
}

#etchPart
{
	display: flex;
	flex-direction: column;
	gap: 30px;
}

#gridButtonDiv
{
	text-align: center;
}